<div class="columns">
  <div class="column is-3">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <app-notification></app-notification>

    <div class="container">
      <app-confirmation-modal title="Excluir empréstimo" message="Tem certeza que deseja excluir o empréstimo do equipamento" itemName="{{ loan?.equipmentName }}">
        <button class="button is-danger" (click)="loan && deleteLoan(loan.id)">Confirmar</button>
      </app-confirmation-modal>
      <div class="overlay hidden"></div>

      <form
        role="form"
        (submit)="createLoan(
          selectedDepartmentId,
          selectedEquipmentId,
          callNumberSuap.value,
          callLinkSuap.value,
          observations.value,
          returnDate.value,
          expectedReturnDate.value,
          selectedStatusLoan,
          consignorName.value,
          consignorRegistrationNumber.value,
          requestorName.value,
          requestorRegistrationNumber.value
        )"
      >
        <div class="header-component-form">
          <button
            id="create"
            class="btn-save"
            mat-raised-button
            color="primary"
            type="submit">
            <i class="material-icons">save</i>
            Salvar
          </button>

          <button
            id="delete"
            *ngIf="loan ? loan.id : 0"
            class="btn-delete"
            mat-raised-button
            type="button"
            (click)="utilityService.showConfirmationModal()">
            <i class="material-icons">delete</i>
            Excluir
          </button>
        </div>
      </form>

      <div class="content-component-form">

        <div class="columns">
          <div class="column">
            <label for="consignorName" class="label">Nome do Expedidor</label>
            <input
              #consignorName
              id="consignorName"
              class="input medium-input"
              value="{{ loan && loan.consignor ? loan.consignor.name : '' }}"
              placeholder="Digite o nome do expedidor"
              matInput
            />
          </div>

          <div class="column">
            <label for="consignorRegistrationNumber" class="label">Matrícula do Expedidor</label>
            <input
              #consignorRegistrationNumber
              id="consignorRegistrationNumber"
              class="input medium-input"
              value="{{ loan && loan.consignor ? loan.consignor.registrationNumber : '' }}"
              placeholder="Digite a matrícula do expedidor"
              matInput
            />
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="requestorName" class="label">Nome do Solicitante</label>
            <input
              #requestorName
              id="requestorName"
              class="input medium-input"
              value="{{ loan && loan.requestor ? loan.requestor.name : '' }}"
              placeholder="Digite o nome do solicitante"
              matInput
            />
          </div>

          <div class="column">
            <label for="requestorRegistrationNumber" class="label">Matrícula do Solicitante</label>
            <input
              #requestorRegistrationNumber
              id="requestorRegistrationNumber"
              class="input medium-input"
              value="{{ loan && loan.requestor ? loan.requestor.registrationNumber : '' }}"
              placeholder="Digite a matrícula do solicitante"
              matInput
            />
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="callNumberSuap" class="label">N° do Chamado do SUAP</label>
            <input
              #callNumberSuap
              id="callNumberSuap"
              class="input medium-input"
              value="{{ loan ? loan.callNumberSuap : '' }}"
              placeholder="Digite o N° do chamado do SUAP"
              matInput
            />
          </div>

          <div class="column">
            <label for="callLinkSuap" class="label">Link do Chamado do SUAP</label>
            <input
              #callLinkSuap
              id="callLinkSuap"
              class="input medium-input"
              value="{{ loan ? loan.callLinkSuap : '' }}"
              placeholder="Digite o link do chamado do SUAP"
              matInput
            />
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="expectedReturnDate" class="label">Data de Retorno Prevista</label>
            <input
              #expectedReturnDate
              id="expectedReturnDate"
              class="input medium-input"
              value="{{ loan?.expectedReturnDate | date: 'yyyy-MM-dd' }}"
              type="date"
            />
          </div>

          <div class="column">
            <label for="returnDate" class="label">Data de Devolução</label>
            <input
              #returnDate
              id="returnDate"
              class="input medium-input"
              value="{{ loan?.returnDate | date: 'yyyy-MM-dd' }}"
              type="date"
              [disabled]="!loan?.id"
            />
          </div>
        </div>

        <div class="columns" *ngIf="loan">
          <div class="column">
            <label for="statusLoan" class="label">Status</label>
            <div class="select is-fullwidth">
              <select id="statusLoan" class="is-size-6" [(ngModel)]="selectedStatusLoan">
                <option *ngFor="let status of statusLoans"
                [value]="status">{{ status }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="equipments" class="label">Equipamento</label>
            <div class="select is-fullwidth">
              <select id="equipments" class="is-size-6" [(ngModel)]="selectedEquipmentId">
                <option *ngFor="let equipment of equipments"
                [value]="equipment.id">{{ equipment.description }}</option>
              </select>
            </div>
          </div>

          <div class="column">
            <label for="departments" class="label">Setor</label>
            <div class="select is-fullwidth">
              <select id="departments" class="is-size-6" [(ngModel)]="selectedDepartmentId">
                <option *ngFor="let department of departments"
                [value]="department.id">{{ department.name }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="observations" class="label">Observações</label>
            <textarea
              #observations
              id="observations"
              type="text"
              class="textarea"
              value="{{ loan ? loan.observations : '' }}"
              placeholder="Digite as observações"
              rows="3"
            ></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
