.modal-card-foot {
    display: flex;
    justify-content: flex-end;
}

.modal-window {
    width: 45%;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 650px) {
    .modal-window {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .header-asset-history {
        margin-bottom: 25px;
    }

    .content-component-form {
        margin-right: 1rem;
    }
}