<div class="columns">
    <div class="column is-3">
      <app-menu></app-menu>
    </div>
    <div class="column is-9">
      <app-notification></app-notification>

      <div class="container">
        <!-- MODAL PARA CADASTRAR E EDITAR SETOR -->
        <div id="modalCadastrar" class="modal-window hidden container is-max-desktop is-mobile">
          <header class="modal-card-head">
            <p class="modal-card-title is-size-5-mobile font-color title m-2" *ngIf="!department.id">Cadastrar Setor</p>

            <p class="modal-card-title is-size-5-mobile font-color title m-2" *ngIf="department.id">Editar Setor</p>

            <button
              id="btnFechar"
              class="delete"
              aria-label="close"
              (click)="hideModal('#modalCadastrar')"
            ></button>
          </header>
          
          <section
            class="modal-card-body"
            style="margin-right: 15%; margin-left: 15%"
          >
            <label for="name" class="label">Nome</label>
            <input
              id="nameModalNew"
              type="text"
              #name
              class="input is-success mb-5"
              placeholder="Nome do setor"
              [value]="department.name ? department.name : '' "
            />
  
            <label for="acronym" class="label">Sigla</label>
            <input
              id="acronymModalNew"
              type="text"
              #acronym
              class="input is-success mb-5"
              placeholder="Sigla do setor"
              [value]="department.acronym ? department.acronym : '' "
            />
          </section>
  
          <footer
            class="modal-card-foot is-justify-content-center is-align-items-center">

            <form
              role="form"
              (submit)="createDepartment(name.value, acronym.value)" *ngIf="!department.id">

              <button id="create" type="submit" class="button is-success">Cadastrar</button>
            </form>

            <form
              role="form"
              (submit)="editDepartment(department.id, name.value, acronym.value)" *ngIf="department.id">

              <button id="edit" type="submit" class="button is-success">Salvar</button>
            </form>
            <button class="button" (click)="hideModal('#modalCadastrar')">
              Cancelar
            </button>
          </footer>
        </div>

        <!-- BACKGROUND COM BLUR PARA DESTACAR O MODAL -->
        <div class="overlay hidden"></div>
  
        <!-- BOTÃO PARA ABRIR O MODAL DE CADASTRO -->
        <div class="header-component">
          <button
            id="addButton"
            #btnCadastrar
            class="btn-cadastrar"
            mat-raised-button
            color="primary"
            (click)="showModal('#modalCadastrar')">
            <i class="material-icons">add</i>
            Cadastrar
          </button>
        </div>
        
        <div class="container list">
          <div class="columns is-multiline is-mobile">
  
            <div class="column is-half-tablet is-one-third-desktop is-full-mobile" *ngFor="let department of departments">
              <div class="card">
                <div class="card-content">
                  <div class="header-card">
                    <div class="card-title">
                      <span>{{ department.acronym }}</span>
                    </div>
                    <div class="card-buttons">
                      <button
                        class="button card-button bg-primary"
                        (click)="detailDepartment(department.id)">
                        <i class="material-icons v-middle color-card-icon">edit</i>
                      </button>
                      <button
                        class="button card-button bg-red"
                        (click)="deleteDepartment(department.id)">
                        <i class="material-icons v-middle color-card-icon">delete</i>
                      </button>
                    </div>
                  </div>
  
                  <div class="content department-content">
                    <span>NOME</span>
                    <div class="department-name">
                      <span>{{ department.name | slice: 0:56 }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>

      </div>
    </div>
  </div>
  