.btn-save {
  background-color: #1fd181;
}

.btn-delete {
  background-color: #cf2a27;
  color: white;
}

.list {
  padding-right: 0.8rem;
  padding-top: 1.2rem;
}

mat-label {
  font-weight: bold;
  font-size: 1rem;
}