<div class="columns">
    <div class="column is-3">
        <app-menu></app-menu>
    </div>
    <div class="column is-9">
      <app-notification></app-notification>

      <div class="container">
        <app-confirmation-modal modalName="deleteInputAssetModal" title="Desfazer entrada de insumo" message="Tem certeza que deseja desfazer essa entrada do dia" itemName="{{ selectedInputAsset?.inputDate | date: 'dd/MM/yyyy' }}">
          <button class="button is-danger" (click)="undoAssetInput(selectedInputAsset.id)">Confirmar</button>
        </app-confirmation-modal>

        <app-confirmation-modal modalName="deleteOutputAssetModal" title="Desfazer retirada de insumo" message="Tem certeza que deseja desfazer essa retirada do dia" itemName="{{ selectedOutputAsset?.outputDate | date: 'dd/MM/yyyy' }} para {{ selectedOutputAsset?.department?.name }}">
          <button class="button is-danger" (click)="undoAssetOutput(selectedOutputAsset.id)">Confirmar</button>
        </app-confirmation-modal>

      <!-- MODAL PARA ENTRADA DE INSUMOS -->
        <div id="modalInput" class="modal-window hidden container is-max-desktop is-mobile">
          <header class="modal-card-head">
            <p class="modal-card-title is-size-5-mobile font-color title m-2">Cadastrar Entrada de Insumo</p>
            <button
              id="btnCloseInput"
              class="delete"
              aria-label="close"
              (click)="hideModal('#modalInput')"
            ></button>
          </header>

          <section
            class="modal-card-body">

            <p class="subtitle is-6">Você está prestes a atualizar o seguinte insumo:</p>
            <p class="title is-5">{{ asset?.name }}</p>

            <label for="dateModalInput" class="label">Data de Entrada</label>
            <input
              id="dateModalInput"
              type="date"
              #inputDate
              class="input is-success mb-5"
              placeholder="Data da Entrada"
            />

            <label for="expirationDateModalInput" class="label">Data de Validade</label>
            <input
              id="expirationDateModalInput"
              type="date"
              #expirationDate
              class="input is-success mb-5"
              placeholder="Data de Validade"
            />

            <label for="amountModalInput" class="label">Quantidade</label>
            <input
              id="amountModalInput"
              type="number"
              #amount
              class="input is-success mb-5"
              placeholder="Quantidade"
            />

          </section>

          <footer
            class="modal-card-foot is-justify-content-center is-align-items-center">
            <form
              role="form"
              (submit)="addAssetInput(inputDate.value, expirationDate.value, amount.value)">
              <button id="create" type="submit" class="button is-success">Cadastrar</button>
            </form>
            <button class="button" (click)="hideModal('#modalInput')">
              Cancelar
            </button>
          </footer>
        </div>

        <!-- MODAL PARA RETIRADA DE INSUMOS -->
        <div id="modalOutput" class="modal-window hidden container is-max-desktop is-mobile" style="height: 85%">
          <header class="modal-card-head">
            <p class="modal-card-title is-size-5-mobile font-color title m-2">
              Cadastrar Retirada de Insumo
            </p>
            <button
              id="btnCloseOutput"
              class="delete"
              aria-label="close"
              (click)="hideModal('#modalOutput')"
            ></button>
          </header>
          <section class="modal-card-body m-2">

            <p class="subtitle is-6">Você está prestes a atualizar o seguinte insumo:</p>
            <p class="title is-5">{{ asset?.name }}</p>

            <div class="columns">
              <div class="column is-one-fifth">
                <label for="amount" class="label">Quantidade</label>
                <input
                  id="outputAmount"
                  #outputAmount
                  matInput
                  type="number"
                  class="input medium-input"
                />
              </div>

              <div class="column is-one-third">
                <label for="callNumberSuap" class="label">N° do Chamado</label>
                <input
                  id="callNumberSuap"
                  #callNumberSuap
                  matInput
                  class="input medium-input"/>
              </div>

              <div class="column">
                <label for="callLinkSuap" class="label">Link do Chamado do SUAP</label>
                <input
                  id="callLinkSuap"
                  type="url"
                  #callLinkSuap
                  matInput
                  class="input medium-input"/>
              </div>
            </div>

            <div class="columns">
              <div class="column is-half">
                <label for="consignorName" class="label">Nome do Expedidor</label>
                <input
                  id="consignorName"
                  #consignorName
                  matInput
                  class="input medium-input"/>
              </div>

              <div class="column is-half">
                <label for="consignorRegistrationNumber" class="label">Matrícula do Expedidor</label>
                <input
                  id="consignorRegistrationNumber"
                  #consignorRegistrationNumber
                  matInput
                  class="input medium-input"/>
              </div>
            </div>

            <div class="columns">
              <div class="column is-half">
                <label for="requestorName" class="label">Nome do Solicitante</label>
                <input
                  id="requestorName"
                  #requestorName
                  matInput
                  class="input medium-input"/>
              </div>

              <div class="column is-half">
                <label for="requestorRegistrationNumber" class="label">Matrícula do Solicitante</label>
                <input
                  id="requestorRegistrationNumber"
                  #requestorRegistrationNumber
                  matInput
                  class="input medium-input"/>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <label for="departments" class="label">Setor</label>
                <div class="select is-success is-fullwidth">
                  <select id="departments" class="is-size-6" [(ngModel)]="selectedDepartmentId">
                    <option *ngFor="let department of departments"
                    [value]="department.id">{{ department.name }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="columns hidden">
              <div class="column">
                <label for="observations" class="label">Observações</label>
                <textarea
                #observations
                id="observations"
                class="textarea is-success"
                placeholder="Digite as observações"
                rows="3"></textarea>
              </div>

            </div>

          </section>

          <footer class="modal-card-foot is-justify-content-center is-align-items-center">
            <form
            role="form" (submit)="addAssetOutput(
              outputAmount.value,
              selectedDepartmentId,
              callNumberSuap.value,
              callLinkSuap.value,
              observations.value,
              consignorName.value,
              consignorRegistrationNumber.value,
              requestorName.value,
              requestorRegistrationNumber.value)">
  
              <button id="createAssetOutput" type="submit" class="button is-success">Cadastrar</button>
            </form>

            <button class="button" (click)="hideModal('#modalOutput')">
              Cancelar
            </button>
          </footer>
        </div>

        <!-- BACKGROUND COM BLUR PARA DESTACAR O MODAL -->
        <div class="overlay hidden"></div>

        <div class="header-component-form">
          <div class="header-category">
            <button
              id="return"
              #btnReturn
              class="btn-save"
              mat-raised-button
              color="primary"
              (click)="navigateToAssets()">
              <i class="material-icons">arrow_back</i>
              Voltar
            </button>
          </div>
        </div>
      </div>

        <div class="content-component-form">

          <article class="message is-success">
            <div class="message-header">
              <p class="is-size-5 has-text-weight-medium">Informações do Insumo</p>
            </div>
            <div class="message-body">
              <p class="field-title has-text-weight-bold">Nome: <span>{{ asset?.name }}</span></p>

                <p class="field-title has-text-weight-bold">Categoria: <span>{{ asset?.categoryName }}</span></p>

                <p class="field-title has-text-weight-bold">Localização:
                  <span>{{ asset?.bookcase }}</span>
                  <span>{{ asset?.shelf }}</span>
                </p>

                <p class="field-title has-text-weight-bold">Estoque: <span>{{ asset?.currentQuantity }}</span></p>

                <p class="field-title has-text-weight-bold">Unidade de Medida: <span>{{ asset?.unitOfMeasurement }}</span></p>

                <p class="field-title has-text-weight-bold">Quantidade Mínima: <span>{{ asset?.minQuantity }}</span></p>
            </div>
          </article>

          <div class="header-asset-history">
            <button
              id="assetInput"
              #btnInput
              class="btn-save"
              mat-raised-button
              color="primary"
              (click)="showModal('#modalInput')">
              <i class="material-icons">add</i>
              Cadastrar Entrada
            </button>
            <button
              id="assetOutput"
              #btnOutput
              class="btn-save"
              mat-raised-button
              color="primary"
              (click)="showModal('#modalOutput')">
              <i class="material-icons">remove</i>
              Cadastrar Retirada
            </button>
          </div>

            <p class="subtitle has-text-weight-medium is-5" style="margin-bottom: 15px;">Histórico de Entradas e Retiradas:</p>

            <div class="tabs is-boxed">
              <ul>
                <li id="inputList" class="is-active">
                  <a (click)="openInputListTab()">
                    <span class="icon is-small"><i class="material-icons has-text-success">add</i></span>
                    <span class="has-text-success has-text-weight-medium">Entradas</span>
                  </a>
                </li>
                <li id="outputList">
                  <a (click)="openOutputListTab()">
                    <span class="icon is-small"><i class="material-icons has-text-success">remove</i></span>
                    <span class="has-text-success has-text-weight-medium">Retiradas</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="list" *ngIf="inputActive == true">
              <div *ngIf="assetInputs.length < 1">
                <p class="title is-6 has-text-centered mt-5">Nenhuma entrada de insumo cadastrada!</p>
              </div>

              <div class="table-container" *ngIf="assetInputs.length > 0">
                <table class="table is-fullwidth is-bordered is-mobile has-text-centered">
                  <thead>
                    <tr>
                      <th>Data de Entrada</th>
                      <th>Data de Validade</th>
                      <th>Quantidade</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let assetInput of assetInputs">
                      <td>{{ assetInput.inputDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ assetInput.expirationDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ assetInput.amount }}</td>
                      <td>
                        <button
                          class="button undo-button"
                          mat-raised-button
                          color="primary"
                          (click)="showUndoAssetInputModal(assetInput.id)">
                          <i class="material-icons">undo</i>
                          Desfazer
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="list" *ngIf="outputActive == true">
              <div *ngIf="assetOutputs.length < 1">
                <p class="title is-6 has-text-centered mt-5">Nenhuma retirada de insumo cadastrada!</p>
              </div>

              <div class="table-container" *ngIf="assetOutputs.length > 0">
                <table class="table is-fullwidth is-bordered is-mobile has-text-centered">
                  <thead>
                    <tr>
                      <th>Data de Saída</th>
                      <th>Quantidade</th>
                      <th>Nº do Chamado</th>
                      <th>Expedidor</th>
                      <th>Solicitante</th>
                      <th>Setor</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let assetOutput of assetOutputs">
                      <td>{{ assetOutput.outputDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ assetOutput.amount }}</td>
                      <td>{{ assetOutput.callNumberSuap ? assetOutput.callNumberSuap : '-' }} <br>
                        <a class="has-text-success has-text-weight-bold" href="{{ assetOutput.callLinkSuap }}" target="_blank" *ngIf="assetOutput.callLinkSuap">Ver no SUAP</a>
                      </td>
                      <td *ngIf="assetOutput.consignor">{{ assetOutput.consignor.name ? assetOutput.consignor.name : '-'  }} <br> {{ assetOutput.consignor.registrationNumber }}</td>
                      <td *ngIf="assetOutput.requestor">{{ assetOutput.requestor.name ? assetOutput.requestor.name : '-' }} <br> {{ assetOutput.requestor.registrationNumber }}</td>
                      <td>{{ assetOutput.department?.acronym }}</td>
                      <td>
                        <button
                          class="button undo-button"
                          mat-raised-button
                          color="primary"
                          (click)="showUndoAssetOutputModal(assetOutput.id)">
                          <i class="material-icons">undo</i>
                          Desfazer
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

        </div>

    </div>
  </div>
