<div class="columns">
  <div class="column is-3 background-color">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <div class="container">
      <div class="header-asset">
        <button
          (click)="navigateToAssetCreate()"
          #btnSave
          class="btn-save"
          mat-raised-button
          color="primary">
          <i class="material-icons">add</i>
          Cadastrar
        </button>
      </div>

      <div class="container list">
        <div class="columns is-multiline is-mobile">

          <div class="column is-half-tablet is-one-third-desktop is-full-mobile" *ngFor="let asset of assets">
            <div class="card">
              <div class="card-content">
                <div class="header-card">
                  <div class="card-title">
                    <span>{{ asset.name | slice: 0:46 }}</span>
                  </div>
                  <div class="card-buttons">
                    <button
                      id="detailButton"
                      class="button card-button bg-gray"
                      (click)="detailAsset(asset.id)">
                      <i class="material-icons v-middle color-card-icon">info</i>
                    </button>
                    <button
                      id="editButton"
                      class="button card-button bg-primary"
                      (click)="editAsset(asset.id)">
                      <i class="material-icons v-middle color-card-icon">edit</i>
                    </button>
                  </div>
                </div>

                <div class="content">
                  <p class="field-title">Categoria: <span>{{ asset.categoryName | slice: 0:28 }}</span></p>
                  <p class="field-title">Localização: 
                    <span>{{ asset.bookcase }}</span>
                    <span>{{ asset.shelf }}</span>
                  </p>
                  <p class="field-title">Estoque: <span>{{ asset.currentQuantity }}</span></p>
                  <p class="field-title">Unidade de Medida: <span>{{ asset.unitOfMeasurement }}</span></p>
                  <p class="field-title">Quantidade Mínima: <span>{{ asset.minQuantity }}</span></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
