<app-notification></app-notification>

<div class="gradient-background">  
  <div class="container-login">
    <section class="image-section">
      <img src="assets/images/background-login.png" alt="Asset Manager For CTI">
    </section>

    <section class="form-section">
      <div class="form-content">
        <div class="is-flex is-justify-content-center">
          <figure class="image is-64x64">
            <img src="assets/images/icon-login.png">
          </figure>
        </div>
        <div class="has-text-centered p-4">
          <h1 class="is-size-4 is-size-5-mobile has-text-weight-medium has-text-dark">
            Entre em sua conta
          </h1>
        </div>

        <form role="form" (submit)="login($event, username.value, password.value)">
          <div class="field">
            <label class="label">Usuário</label>
            <div class="control has-icons-left">
              <input type="text" #username class="input" id="username" placeholder="Digite seu usuário">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Senha</label>
            <div class="control has-icons-left">
              <input type="password" #password class="input" id="password" placeholder="Digite sua senha">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </div>
          </div>
          <div class="has-text-centered mt-5">
            <button id="login" type="submit" class="button is-vcentered is-medium is-success is-fullwidth">
              <span class="has-text-weight-medium">Acessar</span>
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>