<mat-card class="card-asset">
  <div class="container-title">
    <div class="header-card">
      <span>Resma de Papel A4</span>
    </div>
    <div class="header-icon">
      <button class="mx-1 edit-button" mat-icon-button>
        <i class="material-icons v-middle color-card-icon">edit</i>
      </button>
    </div>
  </div>

  <div class="content-card">
    <div>
      <p class="field-title">Categoria:</p>
      <span>Outros</span>
    </div>
    <div>
      <p class="field-title">Localização:</p>
      <span>A</span>
      <span>1</span>
    </div>
    <div>
      <p class="field-title">Estoque:</p>
      <span>5</span>
    </div>
    <div>
      <p class="field-title">Unidade de Medida:</p>
      <span>Kg</span>
    </div>
    <div>
      <p class="field-title">Quantidade Mínima:</p>
      <span>3</span>
    </div>
  </div>
</mat-card>
