<div class="columns">
  <div class="column is-3">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <app-notification></app-notification>

    <div class="container">
      <div class="header-component">
        <button
          id="add"
          (click)="navigateToEquipmentCreate()"
          #btnCadastrar
          class="btn"
          mat-raised-button
          color="primary"
        >
          <i class="material-icons">add</i>
          Cadastrar
        </button>
        <button
          (click)="export()"
          #btnExport
          class="btn"
          mat-raised-button
          color="primary">
          <i class="material-icons">info</i>
          Exportar
        </button>
      </div>

      <div class="container list">
        <div class="columns is-multiline is-mobile">

          <div class="column is-half-tablet is-one-third-desktop is-full-mobile" *ngFor="let equipment of equipments">
            <div class="card">
              <div class="card-content">
                <div class="header-card">
                  <div class="card-title">
                    <span>
                      <strong>{{ equipment.description | slice: 0:50 }}</strong>
                    </span>
                  </div>
                  <div class="card-buttons">
                    <button
                      class="button card-button bg-primary"
                      (click)="detailEquipment(equipment.id)">
                      <i class="material-icons v-middle color-card-icon">edit</i>
                    </button>
                  </div>
                </div>

                <div class="content">
                  <p *ngIf="equipment.conservationState === 'DANIFICADO'" class="field-title has-text-warning has-text-weight-medium card-alert">
                    <i class="material-icons mr-1">warning</i>
                    Este equipamento possui o status DANIFICADO
                  </p>

                  <p *ngIf="equipment.conservationState === 'IRRECUPERAVEL'" class="field-title has-text-danger has-text-weight-medium card-alert">
                    <i class="material-icons mr-1">warning</i>
                    Este equipamento possui o status IRRECUPERÁVEL
                  </p>

                  <p class="field-title">Categoria: <span>{{ equipment.categoryName | slice: 0:28 }}</span></p>
                  <p class="field-title">Número: <span>{{ equipment.number }}</span></p>
                  <p class="field-title">Número de Série: <span>{{ equipment.serialNumber }}</span></p>
                  <p class="field-title">Localização:
                    <span>{{ equipment.block }}</span>
                    <span>{{ equipment.room }}</span>
                  </p>
                  <p class="field-title">Estado de Conservação: 
                    <span>
                      <strong>
                        {{ equipment.conservationState }}
                      </strong>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
