.header-loan {
    padding-top: 1rem;
    padding-right: 0.8rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .list {
    padding-right: 0.8rem;
    padding-top: 1.2rem;
  }
  
  mat-grid-tile {
    border: 2px solid #1fd181;
    border-left: 8px solid #1fd181;
    border-radius: 4px;
  }
  
  .card-loan {
    flex: 1;
    background-color: white;
  }
  
  .header-card {
    padding-top: 0.7em;
    width: 85%;
  }
  
  .header-card > span {
    font-weight: bold;
    font-size: 0.5em;
    border-radius: 3px;
  }
  
  .header-icon {
    border-radius: 5px;
  }
  
  .header-icon > button {
    display: flex;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
  }
  
  .content-card {
    margin-top: 1.2em;
  }
  
  .container {
    width: 100%;
  }
  
  .header-category {
    padding-top: 1rem;
    padding-right: 0.8rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .btn-cadastrar {
    background-color: #1fd181;
  }
  
  .list {
    padding-right: 0.8rem;
    padding-top: 1.2rem;
  }
  
  mat-grid-tile {
    border: 2px solid #1fd181;
    border-left: 10px solid #1fd181;
  }
  
  .card-loan {
    flex: 1;
    background-color: white;
  }
  
  .header-card {
    display: flex;
    padding-top: 0.7em;
    justify-content: space-between;
  }
  
  .header-card > span {
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 3px;
  }
  
  .header-icon {
    border-radius: 5px;
  }
  
  .header-icon > button {
    display: flex;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
  }
  
  .content-card {
    margin-top: 0.8em;
    border: 3px;
  }
  
  .content-card .category-type {
    display: flex;
    padding-top: 0.4em;
    justify-content: left;
  }
  
  .content-card .category-type > span {
    font-size: 1.8em;
    font-weight: bold;
  }
  
  .field-title {
    display: inline-block;
    color: black;
    font-weight: bold;
    margin-right: 6px;
    margin-bottom: 0;
  }
  
  .container-title {
    display: flex;
  }
  
  .header-icon > .edit-button {
    flex: 1;
    background-color: #1fd181;
    border-radius: 5px;
    width: 2.2rem;
    margin-top: 0.5rem;
  }
  