<div class="columns">
  <div class="column is-3">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <app-notification></app-notification>

    <div class="container">
      <div class="header-component">
        <button
          id="add"
          (click)="navigateToLoanCreate()"
          #btnCadastrar
          class="btn-cadastrar"
          mat-raised-button
          color="primary"
        >
          <i class="material-icons">add</i>
          Cadastrar
        </button>
      </div>

        <div class="container list">
          <div class="columns is-multiline is-mobile">

            <div class="column is-half-tablet is-one-third-desktop is-full-mobile" *ngFor="let loan of loans">
              <div class="card">
                <div class="card-content">
                  <div class="header-card">
                    <div class="card-title">
                      <span>{{ loan.equipmentName | slice: 0:50 }}</span>
                    </div>
                    <div class="card-buttons">
                      <button
                        id="edit"
                        class="button card-button bg-primary"
                        (click)="detailLoan(loan.id)">
                        <i class="material-icons v-middle color-card-icon">edit</i>
                      </button>
                    </div>
                  </div>

                  <div class="content">
                    <p *ngIf="loan.statusLoan === 'EXPIRADO'" class="field-title has-text-warning has-text-weight-medium card-alert">
                      <i class="material-icons mr-1">warning</i>
                      Este empréstimo expirou no dia {{ loan.expectedReturnDate | date: 'dd/MM/yyyy' }}
                    </p>

                    <p class="field-title">Data de Saída:
                      <span>{{ loan.outputDate | date: 'dd/MM/yyyy' }}</span>
                    </p>

                    <p class="field-title">Data Esperada:
                      <span>{{ loan.expectedReturnDate | date: 'dd/MM/yyyy' }}</span>
                    </p>

                    <p class="field-title" *ngIf="loan.callNumberSuap">Nº chamado do SUAP:
                      <span>{{ loan.callNumberSuap }}</span>
                    </p>

                    <p class="field-title">Setor:
                      <span>{{ loan.department?.acronym }}</span>
                    </p>

                    <p class="field-title">Status:
                      <span>
                        <strong>
                          {{ loan.statusLoan }}
                        </strong>
                      </span>
                    </p>

                    <p *ngIf="loan.callLinkSuap" class="field-title">
                      <a class="has-text-success has-text-weight-bold" href="{{ loan.callLinkSuap }}" target="_blank">Ver no SUAP</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>
