.header-software-licence-create {
  padding-top: 1rem;
  padding-right: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.content-software-licence-create {
  padding-right: 0.8rem;
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
}
  
.list {
  padding-right: 0.8rem;
  padding-top: 1.2rem;
}

.btn-save {
  background-color: #1fd181;
  margin-right: 5px;
}

.card {
  border: 2px solid gray;
  border-left: 8px solid gray;
  border-radius: 6px;
}

mat-label {
  font-weight: bold;
  font-size: 1rem;
}