<div class="columns">
    <div class="column is-3">
        <app-menu></app-menu>
    </div>
    <div class="column is-9">
      <app-notification></app-notification>

      <div class="container">
      <!-- MODAL PARA ASSOCIAR A LICENÇA -->
      <div id="modalAssociate" class="modal-window hidden container is-max-desktop is-mobile">
        <header class="modal-card-head">
          <p class="modal-card-title is-size-6-mobile font-color title m-2">
            Associar Licença a um Equipamento
          </p>
          <button
            id="btnFechar"
            class="delete"
            aria-label="close"
            (click)="hideModal('#modalAssociate')"
          ></button>
        </header>
        <section class="modal-card-body m-2">

          <p class="subtitle is-6">Você está prestes a associar a seguinte licença:</p>
          <p class="title is-5">{{ softwareLicense?.name}}</p>

          <label for="equipmentSearch" class="label">Pesquise um equipamento:</label>
          <div class="control has-icons-left mb-5">
            <input
              #equipmentSearch
              id="equipmentSearch"
              class="input medium-input"
              placeholder="Digite o nome ou número..."
              [formControl]="myControl"
              matInput
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                id="equipmentSelected"
                *ngFor="let option of filteredOptions | async"
                (click)="autoCompleteEquipmentFields(option.number)"
              >
                {{ option.description }}
              </mat-option>
            </mat-autocomplete>
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>

          <div class="columns">
            <div class="column is-one-quarter">
              <label for="number" class="label">Número:</label>
              <input
                id="number"
                #number
                matInput
                disabled
                class="input medium-input"
                value="{{ selectedEquipment?.number }}"
              />
            </div>

            <div class="column">
              <label for="name" class="label">Nome:</label>
              <input
                id="name"
                #name
                matInput
                disabled
                class="input medium-input"
                value="{{ selectedEquipment?.description }}"/>
            </div>
          </div>

          <div class="columns">
            <div class="column is-one-third">
              <label for="hostname" class="label">Hostname:</label>
              <input
                id="hostname"
                #hostname
                matInput
                disabled
                class="input medium-input"
                value="{{ selectedEquipment?.network?.hostname }}"/>
            </div>

            <div class="column">
              <label for="addressIP" class="label">Endereço IP:</label>
              <input
                id="addressIP"
                #addressIP
                matInput
                disabled
                class="input medium-input"
                value="{{ selectedEquipment?.network?.addressIP }}"/>
            </div>

            <div class="column">
              <label for="addressMAC" class="label">Endereço MAC:</label>
              <input
                id="addressMAC"
                #addressMAC
                matInput
                disabled
                class="input medium-input"
                value="{{ selectedEquipment?.network?.addressMAC }}"/>
            </div>
          </div>

        </section>

        <footer class="modal-card-foot is-justify-content-center is-align-items-center">
          <form
          role="form"
          (submit)="associateSoftwareLicense(selectedEquipment?.id)">

            <button id="create" type="submit" class="button is-success">Confirmar</button>
          </form>

          <button class="button" (click)="hideModal('#modalAssociate')">
            Cancelar
          </button>
        </footer>
      </div>
      <div class="overlay hidden"></div>

        <div class="header-component-form">
          <div class="header-category">
            <button
              id="return"
              #btnReturn
              class="btn-save"
              mat-raised-button
              color="primary"
              (click)="navigateToSoftwareLicenses()"
            >
              <i class="material-icons">arrow_back</i>
              Voltar
            </button>
            <button
              id="associate"
              #btnAssociate
              class="btn-save"
              mat-raised-button
              color="primary"
              (click)="showModal('#modalAssociate')"
            >
              <i class="material-icons">link</i>
              Associar
            </button>
          </div>
        </div>
      </div>

      <div class="content-component-form">

        <article class="message is-success">
          <div class="message-header">
            <p class="is-size-5 has-text-weight-medium">Informações da Licença de Software</p>
          </div>
          <div class="message-body">
            <p class="field-title has-text-weight-bold">Nome: <span>{{ softwareLicense?.name }}</span></p>

              <p class="field-title has-text-weight-bold">Categoria: <span>{{ softwareLicense?.categoryName }}</span></p>

              <p class="field-title has-text-weight-bold">Número: <span>{{ softwareLicense?.number }}</span></p>

              <p class="field-title has-text-weight-bold">Chave de Ativação: <span>{{ softwareLicense?.activationKey }}</span></p>

              <p class="field-title has-text-weight-bold">Máximo de Ativações: <span>{{ softwareLicense?.maxActivations }}</span></p>

              <p class="field-title has-text-weight-bold">Ativações Usadas: <span>{{ softwareLicense?.numberOfActivationsUsed }}</span></p>
          </div>
        </article>

        <p class="subtitle has-text-weight-medium is-5" style="margin-top: 25px; margin-bottom: 10px;">Equipamentos Associados:</p>

        <div class="list">
          <div *ngIf="associatedEquipments.length < 1">
            <p class="title is-6 has-text-centered mt-5">Nenhum equipamento associado foi encontrado!</p>
          </div>

          <div class="columns is-multiline is-mobile" *ngIf="associatedEquipments.length > 0">

            <div class="column is-half-tablet is-one-third-desktop is-full-mobile" *ngFor="let equipment of associatedEquipments">
              <div class="card">
                <div class="card-content">
                  <div class="header-card">
                    <div class="card-title">
                      <span>
                        <strong>{{ equipment.description | slice: 0:50 }}...</strong>
                      </span>
                    </div>
                    <div class="card-buttons">
                      <button
                        class="button card-button bg-gray"
                        (click)="disassociateSoftwareLicense(equipment.id)">
                        <i class="material-icons v-middle color-card-icon">link_off</i>
                      </button>
                    </div>
                  </div>

                  <div class="content">
                    <p class="field-title">Categoria:
                      <span>{{ equipment.categoryName }}</span>
                    </p>
                    <p class="field-title">Número:
                      <span>{{ equipment.number }}</span>
                    </p>
                    <p class="field-title">Hostname:
                      <span>{{ equipment.network.hostname }}</span>
                    </p>
                    <p class="field-title">Endereço IP:
                      <span>{{ equipment.network.addressIP }}</span>
                    </p>
                    <p class="field-title">Endereço MAC:
                      <span>{{ equipment.network.addressMAC }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>
