<div class="columns">
  <div class="column is-3">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <app-notification></app-notification>

    <div class="container">
      <div class="header-component">
        <button
          id="add"
          (click)="navigateToServiceCreate()"
          #btnSave
          class="btn-save"
          mat-raised-button
          color="primary"
        >
          <i class="material-icons">add</i>
          Cadastrar
        </button>
      </div>

      <div class="container list">
        <div class="columns is-multiline is-mobile">

          <div class="column is-half-tablet is-one-third-desktop is-full-mobile" *ngFor="let service of services">
            <div class="card">
              <div class="card-content">
                <div class="header-card">
                  <div class="card-title">
                    <span>
                      <strong>{{ service?.equipmentName | slice: 0:50 }}</strong>
                    </span>
                  </div>
                  <div class="card-buttons">
                    <button
                      id="editServiceButton"
                      class="button card-button bg-primary"
                      (click)="detailService(service.id)">
                      <i class="material-icons v-middle color-card-icon">edit</i>
                    </button>
                  </div>
                </div>

                <div class="content">
                    <p class="field-title">Data de Cadastro: <span>{{ service.outputDate | date: 'dd/MM/yyyy' }}</span></p>

                    <p *ngIf="service.callNumberSuap" class="field-title">Nº chamado do SUAP: <span>{{ service.callNumberSuap }}</span></p>

                    <p class="field-title">Setor: <span>{{ service.department?.acronym | slice: 0:25 }}</span></p>

                    <p class="field-title">Tipo de Serviço:
                      <span>
                        <strong>
                          {{ service.serviceType }}
                        </strong>
                      </span>
                    </p>

                    <p *ngIf="service.callLinkSuap" class="field-title">
                      <a class="has-text-success has-text-weight-bold" href="{{ service.callLinkSuap }}" target="_blank">Ver no SUAP</a>
                    </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
