.list {
  padding-right: 0.8rem;
  padding-top: 1.2rem;
}

.btn-cadastrar {
  background-color: #1fd181;
}

.card-title {
  margin-top: 5px;
}

.card-title > span {
  font-weight: bold;
  font-size: 1em;
  background-color: lightgray;
  border-radius: 3px;
  padding: 4px;
  margin-top: 2rem;
}

.category-content .category-name {
  display: flex;
  padding-top: 0.4em;
  justify-content: left;
}

.category-content > span {
  color: black;
}

.category-content .category-name > span {
  font-size: 1.4em;
  font-weight: bold;
  word-break: break-all;
  color: black;
}

#modalCadastrar {
  width: 45%;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 650px) {
  #modalCadastrar {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}