<div class="columns">
  <div class="column is-3 background-color">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <div class="container">
      <!-- MODAL PARA CADASTRAR CATEGORIA -->
      <div id="modalCadastrar" class="modal-window hidden" style="width: 45%">
        <header class="modal-card-head">
          <p class="modal-card-title font-color title m-2">Cadastrar</p>
          <button
            id="btnFechar"
            class="delete"
            aria-label="close"
            (click)="hideModal('#modalCadastrar')"
          ></button>
        </header>
        <section
          class="modal-card-body"
          style="margin-right: 15%; margin-left: 15%"
        >
          <label for="name" class="label">Nome</label>
          <input
            id="nameModalNew"
            type="text"
            #name
            class="input is-success mb-5"
            placeholder="Nome da categoria"
          />

          <label for="tipoCategoria" class="label">Tipo de Categoria</label>
          <div class="select is-success is-fullwidth">
            <select id="categoryTypesModalNew" [(ngModel)]="selectedValue">
              <option *ngFor="let tipo of types" [value]="tipo">
                {{ tipo }}
              </option>
            </select>
          </div>
        </section>

        <footer
          class="modal-card-foot is-justify-content-center is-align-items-center"
        >
          <form
            role="form"
            (submit)="createCategory(name.value, selectedValue)"
          >
            <button id="create" type="submit" class="button is-success">Cadastrar</button>
          </form>
          <button class="button" (click)="hideModal('#modalCadastrar')">
            Cancelar
          </button>
        </footer>
      </div>
      <div class="overlay hidden"></div>
      <!-- BACKGROUND COM BLUR PARA DESTACAR O MODAL -->

      <!-- BOTÃO PARA ABRIR O MODAL DE CADASTRO -->
      <div class="header-category">
        <button
          id="add"
          #btnCadastrar
          class="btn-cadastrar"
          mat-raised-button
          color="primary"
          (click)="showModal('#modalCadastrar')"
        >
          <i class="material-icons">add</i>
          Cadastrar
        </button>
      </div>

      <!-- MODAL PARA EDITAR CATEGORIA -->
      <div id="modalEditar" class="modal-window hidden" style="width: 45%">
        <header class="modal-card-head">
          <p class="modal-card-title font-color title m-2">Editar categoria</p>
          <button
            id="btnClose"
            class="delete"
            aria-label="close"
            (click)="hideModal('#modalEditar')"
          ></button>
        </header>
        <section
          class="modal-card-body"
          style="margin-right: 15%; margin-left: 15%"
        >
          <label for="nameEdit" class="label">Nome</label>
          <input
            id="nameModalEdit"
            type="text"
            #nameEdit
            class="input is-success mb-5"
            placeholder="Nome da categoria"
            [value]="category.name"
          />

          <label for="tipoCategoriaEdicao" class="label"
            >Tipo de Categoria</label
          >
          <div class="select is-success is-fullwidth">
            <select id="categoryTypesModalEdit" [(ngModel)]="selectedValue">
              <option *ngFor="let tipo of types" [value]="tipo">
                {{ tipo }}
              </option>
            </select>
          </div>
        </section>

        <footer
          class="modal-card-foot is-justify-content-center is-align-items-center"
        >
          <form
            role="form"
            (submit)="editCategory(category.id, nameEdit.value, selectedValue)"
          >
            <button id="edit" type="submit" class="button is-success">Salvar</button>
          </form>
          <button class="button" (click)="hideModal('#modalEditar')">
            Cancelar
          </button>
        </footer>
      </div>

      <div class="container list">
        <div class="columns is-multiline is-mobile">

          <div class="column is-half-tablet is-one-third-desktop is-full-mobile" *ngFor="let category of categories">
            <div class="card">
              <div class="card-content">
                <div class="header-card">
                  <div class="card-title">
                    <span>{{ category.categoryType }}</span>
                  </div>
                  <div class="card-buttons">
                    <button
                      class="button card-button bg-primary"
                      (click)="detailCategory(category.id)">
                      <i class="material-icons v-middle color-card-icon">edit</i>
                    </button>
                  </div>
                </div>

                <div class="content category-content">
                  <span>NOME</span>
                  <div class="category-name">
                    <span>{{ category.name | slice: 0:50 }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
