<div class="columns">
  <div class="column is-3 background-color">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <div class="container">
      <form role="form" (submit)="createAsset(
        selectedCategoryId,
        number.value,
        serialNumber.value,
        description.value,
        block.value,
        room.value,
        selectedConservationState,
        hostname.value,
        addressIP.value,
        addressMAC.value,
        filename.value)
        ">

        <div class="header-equipment-create">
            <button
              class="btn-salvar"
              mat-raised-button
              color="primary"
              type="submit"
            >
              Salvar
            </button>

            <button
              *ngIf="asset ? asset.id : 0"
              class="btn-excluir"
              mat-raised-button
              type="button"
              (click)="asset && deleteAsset(asset.id)"
            >
              Deletar
            </button>
        </div>
      </form>

      <div class="content-equipment-create">
        <mat-form-field appearance="fill">
          <mat-label>Categoria:</mat-label>
          <mat-select id="category" [(ngModel)]="selectedCategoryId">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="description">
          <mat-label>Descrição:</mat-label>
          <textarea
            class="inputDescription"
            type="text"
            #description
            matInput
            [matAutocomplete]="auto">{{ asset ? asset.description : '' }}</textarea>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let description of suggestDescriptions" [value]="description">
              {{ description }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class = "two-fields-container">
          <div class="two-fields-box">
            <mat-label class="two-labels">Bloco:</mat-label>
            <input #block matInput class="medium-input" value="{{ asset ? asset.block : '' }}">
          </div>
          <div class="two-fields-box">
            <mat-label class="two-labels">Sala:</mat-label>
            <input #room matInput class="medium-input" value="{{ asset ? asset.room : '' }}">
          </div>
        </div>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Estado De Conservação:</mat-label>
        <mat-select id="conservationState" [(ngModel)]="selectedConservationState">
          <mat-option *ngFor="let conservationState of conservationStates" [value]="conservationState">
            {{ conservationState }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class = "two-fields-container">
        <div class="two-fields-box">
          <mat-label class="two-labels">Número:</mat-label>
          <input #number matInput class="medium-input" value="{{ asset ? asset.number : '' }}">
        </div>
        <div class="two-fields-box">
          <mat-label class="two-labels">Número de série:</mat-label>
          <input #serialNumber matInput class="medium-input" value="{{ asset ? asset.serialNumber : '' }}">
        </div>
      </div>
      <div class = "two-fields-container">
        <div class="two-fields-box">
          <mat-label class="two-labels">Hostname (opcional):</mat-label>
          <input #hostname matInput class="medium-input" value="{{ asset && asset.network ? asset.network.hostname : '' }}">
        </div>
        <div class="two-fields-box">
          <mat-label class="two-labels">Endereço IP (opcional):</mat-label>
          <input #addressIP matInput class="medium-input" value="{{ asset && asset.network ? asset.network.addressIP : '' }}">
        </div>
      </div>
      <div class="one-field-container">
        <div class="one-field-box">
          <mat-label>Endereço MAC (opcional):</mat-label>
          <input #addressMAC matInput value="{{ asset && asset.network ? asset.network.addressMAC : '' }}">
        </div>
      </div>
      <div class="input-file-container">
        <input #filename class="input-file" type="file"/>
      </div>
    </div>
  </div>
</div>
