.container {
    width: 100%;
}

.header-equipment-create {
    padding-top: 1rem;
    padding-right: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.btn-salvar {
    background-color: #1fd181;
}

.btn-excluir {
  background-color: #CF2A27;
  color: white;
}

.content-equipment-create {
    padding-right: 0.8rem;
    padding-top: 1.2rem;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 60%;
}

.description {
    padding-bottom: 0.7rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputDescription {
    width: 60%;
    height: 6rem;
    resize: none;
}

mat-label {
    font-weight: bold;
    font-size: 1rem;
}

.two-fields-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    padding-bottom: 0.7rem;
}

.one-field-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    padding-bottom: 0.7rem;
}

.two-fields-box {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.one-field-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.two-labels {
    padding-right: 0.3rem;
}

.medium-input {
    padding-right: 1rem;
}

.input-file {
    font-size: 1rem;
}
