<div class="columns">
  <div class="column is-3">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <app-notification></app-notification>

    <div class="container">
      <div class="header-component">
        <button
          id="add"
          (click)="navigateToSoftwareLicenseCreate()"
          #btnSave
          class="btn-save"
          mat-raised-button
          color="primary">
          <i class="material-icons">add</i>
          Cadastrar
        </button>
        <button
          (click)="export()"
          #btnExport
          class="btn-export"
          mat-raised-button
          color="primary">
          <i class="material-icons">info</i>
          Exportar
        </button>
      </div>

      <div class="container list">
        <div class="columns is-multiline is-mobile">

          <div class="column is-half-tablet is-one-third-desktop is-full-mobile" *ngFor="let softwareLicense of softwareLicenses">
            <div class="card">
              <div class="card-content">
                <div class="header-card">
                  <div class="card-title">
                    <span>{{ softwareLicense.name | slice: 0:46 }}</span>
                  </div>
                  <div class="card-buttons">
                    <button
                      class="button card-button bg-gray"
                      (click)="detailSoftwareLicenseAssociations(softwareLicense.id)">
                      <i class="material-icons v-middle color-card-icon">info</i>
                    </button>
                    <button
                      class="button card-button bg-primary"
                      (click)="detailSoftwareLicense(softwareLicense.id)">
                      <i class="material-icons v-middle color-card-icon">edit</i>
                    </button>
                  </div>
                </div>

                <div class="content">
                    <p class="field-title">Categoria: 
                      <span>{{ softwareLicense.categoryName | slice: 0:28 }}</span>
                    </p>
                    <p class="field-title">Número: 
                      <span>{{ softwareLicense.number }}</span>
                    </p>
                    <p class="field-title">Chave de Ativação: 
                      <span>{{ softwareLicense.activationKey }}</span>
                    </p>
                    <p class="field-title">Máximo de Ativações: 
                      <span>{{ softwareLicense.maxActivations }}</span>
                    </p>
                    <p class="field-title">Quantidade de Ativações Usadas: 
                      <span>{{ softwareLicense.numberOfActivationsUsed }}</span>
                    </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
