<div class="columns">
  <div class="column is-3 background-color">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <div class="container">
      <div class="header-software-license">
        <button
          (click)="navigateToSoftwareLicenseCreate()"
          #btnSave
          class="btn-save"
          mat-raised-button
          color="primary"
        >
          <i class="material-icons">add</i>
          Cadastrar
        </button>
      </div>

      <div class="list">
        <mat-grid-list cols="3" rowHeight="12rem" gutterSize="0.8rem">
          <li *ngFor="let softwareLicense of softwareLicenses">
            <mat-grid-tile>
              <mat-card class="card-software-license">
                <div class="container-title">
                  <div class="header-card">
                    <span>{{ softwareLicense.name }}</span>
                  </div>
                  <div class="header-icon">
                    <button
                      class="mx-1 edit-button"
                      mat-icon-button
                      (click)="detailSoftwareLicense(softwareLicense.id)"
                    >
                      <i class="material-icons v-middle color-card-icon"
                        >edit</i
                      >
                    </button>
                  </div>
                </div>

                <div class="content-card">
                  <div>
                    <p class="field-title">Categoria:</p>
                    <span>{{ softwareLicense.categoryName }}</span>
                  </div>
                  <div>
                    <p class="field-title">Número:</p>
                    <span>{{ softwareLicense.number }}</span>
                  </div>
                  <div>
                    <p class="field-title">Chave de Ativação:</p>
                    <span>{{ softwareLicense.activationKey }}</span>
                  </div>
                  <div>
                    <p class="field-title">Máximo de Ativações:</p>
                    <span>{{ softwareLicense.maxActivations }}</span>
                  </div>
                  <div>
                    <p class="field-title">Quantidade de Ativações Usadas:</p>
                    <span>{{ softwareLicense.numberOfActivationsUsed }}</span>
                  </div>
                </div>
              </mat-card>
            </mat-grid-tile>
          </li>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>
