<div class="columns">
  <div class="column is-3">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <app-notification></app-notification>

    <div class="container">
      <app-confirmation-modal title="Excluir licença de software" message="Tem certeza que deseja excluir a licença de software" itemName="{{ softwareLicense?.name }}">
        <button class="button is-danger" (click)="softwareLicense && deleteSoftwareLicense(softwareLicense.id)">Confirmar</button>
      </app-confirmation-modal>
      <div class="overlay hidden"></div>

      <form
        role="form"
        (submit)="
          createSoftwareLicense(
            selectedCategoryId,
            name.value,
            number.value,
            activationKey.value,
            maxActivations.value
          )">
        <div class="header-component-form">
          <button
            id="create"
            class="btn-save"
            mat-raised-button
            color="primary"
            type="submit">
            <i class="material-icons">save</i>
            Salvar
          </button>

          <button
            id="delete"
            *ngIf="softwareLicense ? softwareLicense.id : 0"
            class="btn-delete"
            mat-raised-button
            type="button"
            (click)="utilityService.showConfirmationModal()">
            <i class="material-icons">delete</i>
            Excluir
          </button>
        </div>
      </form>

      <div class="content-component-form">

        <div class="columns">
          <div class="column">
            <label for="name" class="label">Software</label>
            <input
              id="name"
              #name
              matInput
              type="text"
              class="input medium-input"
              placeholder="Digite o nome do software"
              value="{{ softwareLicense ? softwareLicense.name : '' }}"
            />
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="number" class="label">Número</label>
            <input
              id="number"
              #number
              matInput
              type="text"
              class="input medium-input"
              placeholder="Digite o número"
              value="{{ softwareLicense ? softwareLicense.number : '' }}"
            />
          </div>

          <div class="column">
            <label for="categories" class="label">Categoria</label>
            <div class="select is-fullwidth">
              <select id="categories" class="is-size-6" [(ngModel)]="selectedCategoryId">
                <option *ngFor="let category of categories"
                [value]="category.id">{{ category.name }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="activationKey" class="label">Chave de ativação</label>
            <input
              id="activationKey"
              #activationKey
              matInput
              type="text"
              class="input medium-input"
              placeholder="Digite a chave de ativação"
              value="{{ softwareLicense ? softwareLicense.activationKey : '' }}"
            />
          </div>

          <div class="column">
            <label for="maxActivations" class="label">Máximo de ativações</label>
            <input
              id="maxActivations"
              #maxActivations
              matInput
              type="text"
              class="input medium-input"
              placeholder="Digite a quantidade máxima de ativações"
              value="{{ softwareLicense ? softwareLicense.maxActivations : '' }}"
            />
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label class="checkbox is-uppercase has-text-weight-semibold is-size-6">
              <input type="checkbox"
              class="is-size-6"
              #ignoreMaxActivations
              id="ignoreMaxActivations" 
              value="ignoreMaxActivations" 
              [ngModel]="ignoreMaxActivations" 
              (ngModelChange)="changedIgnoreMaxActivations($event)">
                Ignorar limite de ativações
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
