/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/css/bulma.min.css";

.background-color {
  background-color: #1fd181;
}

.bg-primary {
  background-color: #1fd181;
}

.bg-red {
  background-color: #cf2a27;
}

.bg-gray {
  background-color: gray;
}

.cl-primary {
  color: #1fd181;
}

.font-color{
  color: #1fd181;
}

.button-color {
  background-color: #1fd181;
  color: #ffff;
  border-radius: 10px;
}

html,
body {
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content blockquote:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content p:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child), .content ul:not(:last-child) {
  margin-bottom: 0;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
  margin: 0 0 0;
}

.v-middle {
  vertical-align: middle;
}

.color-card-icon {
  color: white;
  font-size: 1.3em;
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  overflow-y: hidden;
  overflow-y: auto
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 5;
}

.card {
  border: 2px solid #1fd181;
  border-left: 8px solid #1fd181;
  border-radius: 6px;
  padding-right: 0;
}

.card-content {
  padding: 0.8rem;
}

.header-card {
  display: flex;
  margin-bottom: 0.8rem;
}

.card-title {
  margin-right: 5px;
  width: auto;
}

.card-title > span {
  font-weight: bold;
  font-size: 1.2em;
  word-break: break-all;
  border-radius: 3px;
}

.card-buttons {
  display: flex;
  margin-left: auto;
}

.card-button {
  display: inline-flex;
  flex: 1;
  width: 2em;
  height: 2em;
  border-radius: 5px;
  align-items: center;
  margin-left: 3px;
}

.card-alert {
  display: flex; 
  align-items: center;
}

.field-title {
  color: black;
  font-weight: bold;
  margin-right: 6px;
}

.field-title > span {
  font-weight: normal;
  display: inline-block;
  margin-block-end: 1px;
  word-break: break-all;
}

.header-component {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.8rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 6px;
}

.header-component-form {
  margin: 1rem 1rem;
  margin-right: 1.9rem;
  display: flex;
  justify-content: space-between;
}

.content-component-form {
  margin: 2.2rem 1rem;
  margin-right: 1.9rem;
}

.container {
  margin-right: 6px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 1024px) {
  .column {
    margin: 0;
    padding-top: 0;
    padding-right: 0;
  }

  .container {
    margin-right: 8px;
    margin-left: 6px;
  }

  .header-component {
    padding-right: 0.2rem;
  }

  .header-component-form {
    margin-right: 1rem;
  }
}