/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bulma/css/bulma.min.css';

.background-color {
  background-color: #1FD181;
}

.button-color {
  background-color: #1FD181;
  color: #FFFF;
  border-radius: 10px;
}
