.btn-save {
  background-color: #1fd181;
}

.btn-delete {
  background-color: #cf2a27;
  color: white;
}

.autocomplete-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.autocomplete-full-width {
  width: 100%;
}
