<div class="columns">
  <div class="column is-3 background-color">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <div class="container">
      <form
        role="form"
        (submit)="
          createEquipment(
            selectedCategoryId,
            number.value,
            serialNumber.value,
            description.value,
            block.value,
            room.value,
            selectedConservationState,
            hostname.value,
            addressIP.value,
            addressMAC.value,
            filename.value
          )
        "
      >
        <div class="header-equipment-create">
          <button
            id="save"
            class="btn-save"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Salvar
          </button>

          <button
            id="delete"
            *ngIf="equipment ? equipment.id : 0"
            class="btn-delete"
            mat-raised-button
            type="button"
            (click)="equipment && deleteEquipment(equipment.id)"
          >
            Deletar
          </button>
        </div>
      </form>

      <div class="content-equipment-create">
        <div class="description"></div>

        <div class="two-fields-container">
          <div class="two-fields-box">
            <mat-label>Número:</mat-label>
            <input
              #number
              id="number"
              class="input medium-input"
              placeholder="Digite o Número"
              value="{{ equipment ? equipment.number : '' }}"
              aria-label="Número"
              [formControl]="myControl"
              matInput
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                value="{{ equipment ? equipment.number : '' }}"
                (click)="autoCompleteInputFields(option.number)"
              >
                {{ option.description }}
              </mat-option>
            </mat-autocomplete>
          </div>

          <div class="two-fields-box">
            <mat-label class="two-labels">Número de série:</mat-label>
            <input
              id="serialNumber"
              #serialNumber
              matInput
              class="input medium-input"
              placeholder="Digite o Número de Série"
              value="{{ equipment ? equipment.serialNumber : '' }}"
            />
          </div>
        </div>

        <div class="description">
          <mat-label>Descrição:</mat-label>
          <textarea
            id="description"
            class="inputDescription"
            type="text"
            #description
            matInput
            >{{ equipment ? equipment.description : "" }}</textarea
          >
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Categoria:</mat-label>
          <mat-select id="categories" [(ngModel)]="selectedCategoryId">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Estado De Conservação:</mat-label>
          <mat-select
            id="conservationStates"
            [(ngModel)]="selectedConservationState"
          >
            <mat-option
              *ngFor="let conservationState of conservationStates"
              [value]="conservationState"
            >
              {{ conservationState }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="two-fields-container">
          <div class="two-fields-box">
            <mat-label class="two-labels">Bloco:</mat-label>
            <input
              id="block"
              #block
              matInput
              class="input medium-input"
              placeholder="Digite o Bloco"
              value="{{ equipment ? equipment.block : '' }}"
            />
          </div>
          <div class="two-fields-box">
            <mat-label class="two-labels">Sala:</mat-label>
            <input
              id="room"
              #room
              matInput
              class="input medium-input"
              placeholder="Digite a Sala"
              value="{{ equipment ? equipment.room : '' }}"
            />
          </div>
        </div>
      </div>

      <div class="two-fields-container">
        <div class="two-fields-box">
          <mat-label class="two-labels">Hostname (opcional):</mat-label>
          <input
            id="hostname"
            #hostname
            matInput
            class="input medium-input"
            placeholder="Digite o Hostname"
            value="{{
              equipment && equipment.network ? equipment.network.hostname : ''
            }}"
          />
        </div>
        <div class="two-fields-box">
          <mat-label class="two-labels">Endereço IP (opcional):</mat-label>
          <input
            id="addressIP"
            #addressIP
            matInput
            class="input medium-input"
            placeholder="Digite o Endereço IP"
            value="{{
              equipment && equipment.network ? equipment.network.addressIP : ''
            }}"
          />
        </div>
      </div>
      <div class="one-field-container">
        <div class="one-field-box">
          <mat-label>Endereço MAC (opcional):</mat-label>
          <input
            id="addressMAC"
            #addressMAC
            matInput
            class="input medium-input"
            placeholder="Digite o Endereço MAC"
            value="{{
              equipment && equipment.network ? equipment.network.addressMAC : ''
            }}"
          />
        </div>
      </div>
      <div class="file">
        <label class="file-label">
          <input
            #filename
            class="file-input"
            type="file"
            (change)="inputFileChange($event)"
          />
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label"> Escolha Um Arquivo… </span>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
