<div class="columns">
  <div class="column is-3">
    <app-menu></app-menu>
  </div>
  <div class="column is-9">
    <app-notification></app-notification>

    <div class="container">
      <app-confirmation-modal title="Excluir equipamento" message="Tem certeza que deseja excluir o equipamento" itemName="{{ equipment?.description }}">
        <button class="button is-danger" (click)="equipment && deleteEquipment(equipment.id)">Confirmar</button>
      </app-confirmation-modal>

      <app-confirmation-modal modalName="deleteFileModal" title="Excluir anexo" message="Tem certeza que deseja excluir o anexo" itemName="{{ equipment?.filename }}">
        <button class="button is-danger" (click)="deleteFile()">Confirmar</button>
      </app-confirmation-modal>
      <div class="overlay hidden"></div>

      <form
        role="form"
        (submit)="
          createEquipment(
            selectedCategoryId,
            number.value,
            serialNumber.value,
            description.value,
            block.value,
            room.value,
            selectedConservationState,
            hostname.value,
            addressIP.value,
            addressMAC.value,
            filename.value
          )
        "
      >
        <div class="header-component-form">
          <button
            id="save"
            class="btn-save"
            mat-raised-button
            color="primary"
            type="submit">
            <i class="material-icons">save</i>
            Salvar
          </button>

          <button
            id="delete"
            *ngIf="equipment ? equipment.id : 0"
            class="btn-delete"
            mat-raised-button
            type="button"
            (click)="utilityService.showConfirmationModal()">
            <i class="material-icons">delete</i>
            Excluir
          </button>
        </div>
      </form>

      <div class="content-component-form">

        <div class="columns">
          <div class="column">
            <label for="number" class="label">Número</label>
            <input
              id="number"
              #number
              matInput
              class="input medium-input"
              placeholder="Digite o Número"
              value="{{ equipment ? equipment.number : '' }}"
              aria-label="Número"
              [formControl]="myControl"
              
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                value="{{ equipment ? equipment.number : '' }}"
                (click)="autoCompleteInputFields(option.number)"
              >
                {{ option.description }}
              </mat-option>
            </mat-autocomplete>
          </div>

          <div class="column">
            <label for="serialNumber" class="label">Número de série</label>
            <input
              id="serialNumber"
              #serialNumber
              matInput
              class="input medium-input"
              placeholder="Digite o Número de Série"
              value="{{ equipment ? equipment.serialNumber : '' }}"
            />
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="description" class="label">Descrição</label>
            <textarea
              id="description"
              class="textarea"
              type="text"
              #description
              matInput
              rows="3"
              >{{ equipment ? equipment.description : "" }}</textarea>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="categories" class="label">Categoria</label>
            <div class="select is-fullwidth">
              <select id="categories" class="is-size-6" [(ngModel)]="selectedCategoryId">
                <option *ngFor="let category of categories"
                [value]="category.id">{{ category.name }}</option>
              </select>
            </div>
          </div>

          <div class="column">
            <label for="conservationStates" class="label">Estado De Conservação</label>
            <div class="select is-fullwidth">
              <select id="conservationStates" class="is-size-6" [(ngModel)]="selectedConservationState">
                <option *ngFor="let conservationState of conservationStates"
                [value]="conservationState">{{ conservationState }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="block" class="label">Bloco</label>
            <input
              id="block"
              #block
              matInput
              type="text"
              class="input medium-input"
              placeholder="Digite a letra do bloco"
              value="{{ equipment ? equipment.block : '' }}"
            />
          </div>

          <div class="column">
            <label for="room" class="label">Sala</label>
            <input
              id="room"
              #room
              matInput
              type="text"
              class="input medium-input"
              placeholder="Digite o número da sala"
              value="{{ equipment ? equipment.room : '' }}"
            />
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="hostname" class="label">Hostname (opcional):</label>
            <input
              id="hostname"
              #hostname
              matInput
              class="input medium-input"
              placeholder="Digite o hostname"
              value="{{
                equipment && equipment.network ? equipment.network.hostname : ''
              }}"
            />
          </div>

          <div class="column">
            <label for="addressIP" class="label">Endereço IP (opcional):</label>
            <input
              id="addressIP"
              #addressIP
              matInput
              class="input medium-input"
              placeholder="Digite o endereço IP"
              value="{{
                equipment && equipment.network ? equipment.network.addressIP : ''
              }}"
            />
          </div>

          <div class="column">
            <label for="addressMAC" class="label">Endereço MAC (opcional):</label>
            <input
              id="addressMAC"
              #addressMAC
              matInput
              class="input medium-input"
              placeholder="Digite o endereço MAC"
              value="{{
                equipment && equipment.network ? equipment.network.addressMAC : ''
              }}"
            />
          </div>
        </div>

        <div class="file has-name is-fullwidth">
          <label class="file-label">
            <input 
              id="filename"
              #filename 
              class="file-input" 
              type="file" 
              name="resume"
              (change)="inputFileChange($event)">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                Escolha um arquivo…
              </span>
            </span>
            <span class="file-name" *ngIf="!equipment?.filename">
              {{ filename.value ? filename.value.split("C:\\fakepath\\")[1] : 'nenhum arquivo selecionado' }}
            </span>

            <span id="filenameText" class="file-name" *ngIf="equipment?.filename">
              {{ equipment?.filename ? equipment?.filename : 'nenhum arquivo selecionado' }}
            </span>
          </label>
        </div>

        <div class="mt-5" *ngIf="equipment?.id && equipment?.filename">
          <h2>Anexos <span><i class="fa fa-paperclip"></i></span></h2>

          <h3>Nome do arquivo: {{ equipment?.filename }}</h3>

          <button
            (click)="downloadFile()"
            #btnDownloadFile
            class="btn-save mr-2"
            mat-raised-button
            color="primary">
            <i class="material-icons">download</i>
              Baixar anexo
          </button>

          <button
            (click)="utilityService.showConfirmationModalByName('#deleteFileModal')"
            #btnDeleteFile
            class="btn-delete"
            mat-raised-button
            color="primary">
            <i class="material-icons">delete</i>
              Excluir anexo
          </button>
        </div>
        
    </div>
  </div>
</div>
